a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #0d3625;
}

.sidebar
{
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.main
{
    margin-top: 20px;
    padding-left: 20px;
}

.colorScheme
{
    background-color: beige;
    border-color: #0d3625;
    color:  #0d3625;
}

.header
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0d3625;
    color: beige;
}

.footer
{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    background-color: #0d3625;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.navigation li , .navigation  p
{
    float: left;
    margin-right: 10px;
    list-style: none;
    color: beige;
}

.navigation a {
    color: beige;
    cursor: pointer;
}

.navigation .dropdown-menu
{
    padding: 10px;
}

.navigation .dropdown-menu a li
{
    color: #0d3625;
}

.navigation .dropdown-menu a li:hover
{
    background-color: #0d3625;
    color: beige;
}

.dropdown-menu ul
{
    padding-left: 0px;
}

.dropdown-menu ul li
{
    width: 100%;
    margin-top: 5px;
    padding: 2px;
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
}

.contains_all {
    width: 100%;
    float: left;
    min-height: 100%;
    padding-bottom: 20px;
}

/*Consider making this it's own page.*/
#snake_board {
    background-image: url("/images/snakes/snakes.jpg");
    background-size: 1080px 1080px;
    background-repeat: no-repeat;
}

#snake_board table, th, td {
        /**
        border: 1px solid black;
        **/
}

#snake_board td {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 98px;
    padding-right: 98px;
}

#snake_board span {
    position: absolute;
}