<!DOCTYPE html>
<html>
    <head>
        <title>My vue stuff</title>
    </head>
    <body>
        Hello??
        <div id="app">
            <hello-world title='first title'></hello-world>
            <hello-world title='second title'></hello-world>
        </div>
    </body>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'>
    </script>

    <script type='text/javascript'>
        Vue.component('hello-world', {
            template:
            '<div>' +
                '<h1>{{title}}</h1>' +
                '<input v-model="name"></input>' +
                '<p>{{name}}</p>' +
                '<button v-on:click="greet"> greet me </buttonv-on:click>' +
            '</div>',
            props: {
                title: {type: String, default: "Title"}
            },
            data: function () {
                return {
                    name: 'name variable.'
                };
            },
            methods: {
                greet: function () {
                    alert('hello: ' + this.name);
                }
            }
        });

        var app = new Vue({
            el: '#app'
        });
    </script>
</html>
